<!-- inside app/views/home/index.html.erb -->
<h1>Welcome to Dashboard</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="table-responsive">
          <h4>Events</h4>
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Birthdate</th>
              <th>Title</th>
              <th>Event Type</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="events_dashboard_tbody">
            <% @events.each do |event| %>
              <%= render 'events/table_row', event: event %>
            <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-sm">
        <div class="table-responsive">
          <h4>People</h4>
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Birthdate</th>
              <th>Gender</th>
              <th>Phone</th>
              <th></th>
            </tr>
            </thead>
            <tbody id="people_dashboard_tbody">
            <% @people.each do |person| %>
             <%= render 'people/table_row', person: person %>
            <% end %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

<div class="col">



</div>
