<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <h1>Events</h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to new_event_path, class: 'btn btn-primary' do %>
      Add New Event
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Title</th>
      <th>Event Type</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="event_table_body">
    <% @events.each do |event| %>
      <%= render 'table_row', event: event %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h2>Latest Created People</h2>
  <div id="people_card_container">
    <% @people.each do |person| %>
      <%= render 'people/person_card', person: person %>
    <% end %>
  </div>
</div>